body {
	font-family: 'Assistant', Helvetica, Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	color: #4c4c4c;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.parallax {
	position: absolute;
	overflow: hidden;
	width: 100%;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.parallax img {
	width: 100%;
	height: 100%;
}
/* Preloader */

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Typography */

p {
	font-size: 16px;
	line-height: 1.5;
	color: #4c4c4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Assistant', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 60px;
}


h3, h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

div.white-list ul {
	padding: 0;
	list-style-type: none;
}

div.white-list ul li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

div.white-list ul li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}

/* Header */

header {
 margin-bottom: 5%;	
}

.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

header .table {
	display: table;
	height: 100%;
}


header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #ff834d;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	color: #ff834d;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.nav-intro{
	position: absolute;
	bottom: 20px;
	left: 50%; 
	margin-left: -19px;
}
.nav-intro a{
	text-decoration: none;
} 


/* Navigation Bar ( Navbar ) */

nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #ff834d !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	padding: 5px 0;
	opacity: 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #bbb;
}

.navbar-header {
	margin-top: 15px;
}


.icon-bar {
	background: #bbb;
}
/* Buttons */

.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn.small {
	margin-top: 8px;
	padding: 5px 10px;
	font-size: 12px;	
}

.btn:hover,
.btn:focus {
	color: white;
}

.btn:focus{
	outline: none;

}

.btn.btn-orange {
	background: #ff834d;
}
.btn.btn-orange:hover {
	background: #ffb680;
	border-color: #ff834d;
}


.btn.btn-orange-fill {
	color: #ff834d;
	border-color: #ff834d;
	background: transparent;
}

.btn.btn-pink-border{
	color: #fff;
	border-color: #fff;
	background: transparent;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;

}

.btn.btn-pink-border:hover{
	color: #EB81C9;
	border-color: #fff;
	background: #fff;
}


.btn.btn-orange-fill:hover {
	color: white;
	background: #ff834d;
}

.btn.btn-white-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}


.btn.btn-white-fill:hover {
	color: white;
	background: #ff834d;
}

.btn.rounded{
	border-radius: 40px;
}

/* Blink Cursor */

.blink {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 4px;
	height: 50px;
	height: 5vh;
	margin: 0 10px;
}

.navbar {
	top: 25px;
}

.container {
	position: relative;
	z-index: 1;
}
/* Sections */

section {
	position: relative;
	padding: 3% 0;
	background: #fff;
}

.section-top-padded{
	padding-top: 4%;
}

.section-padded {
	padding: 10% 0;
}



/* Intro */

.cut-top {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 30px solid white;
}

.cut-bottom {
	content: ' ';
	position: absolute;
	z-index: 1;
	bottom: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 80px solid transparent;
	border-left: 30px solid white;
}

.intro-table {
	width: 100%;
	margin: 1%;
	min-height: 320px;
	text-align: center;
	/*border: 1px solid #ff834d;*/

}

.intro-table .icon-holder {
	display: inline-block;
	margin: 5% 0;
	padding: 1%;
	background: white;
}
.intro-table .icon-holder > img.icon {
	width: 40px;
}

.intro-table .heading {
	margin-bottom: 5%;
	padding: 0 8.5%;
}

.intro-table .description {
	width: 80%;
	margin: 0 auto;

}

/* Servicios */

#services{
	background-image: url('../img/services.png');
	background-position: 50% 100%;
	background-repeat: no-repeat;

}

#services h2{
	margin-bottom: 2.5%;
}

.services {
	margin: 1% 0;
}

.service {
	width: 100%;
	max-height: 300px;
	text-align: center;
	padding-top: 10%;
	/*border: 1px solid #ddd;*/ 
}

.service .description {
	width: 80%;
	margin: 0 auto;
	padding-top: 5%; 
}


/* Pricing */

#pricing {
	background: rgba(235,129,201,1);
	background: -moz-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,129,201,1)), color-stop(49%, rgba(255,142,148,1)), color-stop(100%, rgba(255,158,74,1)));
	background: -webkit-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: -o-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb81c9', endColorstr='#ff9e4a', GradientType=1 );
}


.pricing-primary .heading{
	margin: 0 auto;
	padding: 0 10%;
	font-size: 3rem;

}

.pricing-primary .description {
	width: 80%;
	margin: 60px auto;
}

.pricing-secondary .pricing-list {
	background: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 1% 0;
	-webkit-box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.05);
	box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.05);
	border-radius: 5px;
}

.pricing-secondary .heading {
	margin: 0;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 2px 3px rgba(235,129,201,0.9);
	-moz-box-shadow: 0px 0px 2px 3px rgba(235,129,201,0.9);
	box-shadow: 0px 0px 3px 2px rgba(235,129,201,0.9);
}

.pricing-secondary ul{
	margin: 20px 5px 0px 5px;
	padding: 0;
	

}
.pricing-secondary  ul li{
	list-style: none;
	text-align: left;
	margin-left: 10px;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px; 
}
.pricing-secondary  ul li.wrong{
	background: url('../img/wrong.png') left center no-repeat;
}
.pricing-secondary  ul li.checked{
	background: url('../img/check.png') left center no-repeat;
}
.pricing-secondary  ul li.center{
	text-align: center;
    padding: 25px 5px 5px 5px;
    font-weight: bold;
    margin: 0;
}



/* Team */

.team {
	background-image: url('../img/team.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
}



/* Form */

section.form  {
	/*padding: 140px 0 40px*/;
	background-color: white;
}

.form .heading {
	margin-bottom: 10%;
}

.form .main-footer {
	max-width: 80%;
	margin: 0 auto;
}

.form-contact {
	max-width: 600px;
	margin: 0 auto;
}
.gray-form {
	background-color: #f0f1f5;
	border: 1px solid #f0f1f5;

} 
.submit-form {
	padding: 12px 6px;
 	text-align: center;

}

/* Footer */

footer {
	background-color: #f0f1f5;
	padding-top: 2%;
	padding-bottom: 1%;
}

footer p {
	margin: 5px 0px 10px 0px;
}


footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #4d4d4d;
}

footer .social-footer li:hover a {
	color: #eb81c9;
}









/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 200;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}
/* Colors */

.white {
	color: white;
}

.orange {
	color: #ff834d;
}

.pink {
	color: #eb81c9;
}

.pink-bg {
	background: #eb81c9;
}

.light-pink {
	color: #ff82a8;
}

.pink-orange {
	color: #fe897f;
}


.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f0f1f5;
}

.blue {
	color: #00a8ff;
}

.blue-bg {
	background: #00a8ff;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}

.margin-bottom {

	margin-bottom: 1%;
}
.oyga-bg {
	background: rgba(235,129,201,1);
	background: -moz-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,129,201,1)), color-stop(49%, rgba(255,142,148,1)), color-stop(100%, rgba(255,158,74,1)));
	background: -webkit-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: -o-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	background: linear-gradient(45deg, rgba(235,129,201,1) 0%, rgba(255,142,148,1) 49%, rgba(255,158,74,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb81c9', endColorstr='#ff9e4a', GradientType=1 );
}


@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}

	h3, h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}

}

/* Media Queries */

@media(max-width:1200px) {
	#services{
		background: white;
	}
}

@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
	.pricing-primary{
		margin-bottom: 10%;		
	}

	.nav-intro{
		display: none;
	}

	.section-top-padded {
		padding-top: 3.5%;
		padding-bottom: 5%;
	}

	.form-horizontal .form-group {
		text-align: left;
	}

	.submit-form {
		text-align: center;

	}	
}

@media(max-width: 768px) {
	.navbar {
    	top: 10px;
	}
	.navbar-header {
    	margin-top: 10px;
	}
	.navbar-toggle {

		padding: 0 10px; 
		margin-top: 0; 
	
	}
	.modal {
		padding: 0 10px !important;
	}



}

@media(max-width: 400px) {
	header .typed-cursor {
		display: none;
	}
	.pricings .pricing .box-second {
		padding-top: 0;
	}
}





